@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/DataTablesLayout.cshtml";
}
@section href{
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.min.css" rel="stylesheet">
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#insertModal" onclick="ClearScreen()">Insert New Department</button>
                        <!-- Modal -->
                        <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="insertModalLabel">Department</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="inputDeptId" hidden>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputDeptInitial">Department Initial</label>
                                                <input type="text" class="form-control" id="inputDeptInitial">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputDeptName">Department Name</label>
                                                <input type="text" class="form-control" id="inputDeptName">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="Edit" type="button" class="btn btn-warning" data-dismiss="modal" onclick="Edit()">Edit</button>
                                        <button id="Save" type="button" class="btn btn-primary" data-dismiss="modal" onclick="Save()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="tbDepartment" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Department Id</th>
                                    <th>Department Initial</th>
                                    <th>Department Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section Scripts {
    <script src="~/adminlte-3.2.0/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte-3.2.0/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- Page specific script -->
    <script src="~/js/departmentscript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
}
